/*About Us Page */
.about-flexbox {
  display: flex;
  background: #f8f9fa;
}
.about-info {
  flex: 1.5;
}
.about-images {
  flex: 1;
  display: grid;
  box-shadow: -2px -5px 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 5px;
}
.about-images img {
  max-width: 100%;
  max-height: 250px;
  object-fit: cover;
}
.car-heading {
  padding: 40px 0px 0px 0px;
  text-align: center;
  background-color: white;
}
/**/
/**/
/* About Section */
/**/
/**/
.about-section {
  padding: 2em;
  background: #f0f0f0;
  text-align: center;
}

.about-section h2 {
  font-size: 2em;
  margin-bottom: 1em;
  color: #2c3e50;
  margin: 0px;
}
.about-section p {
  color: #626262;
}

.about-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5em;
  margin-top: 25px;
}

.about-item {
  flex: 1 1 250px;
  max-width: 300px;
  padding: 1em;
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.about-item:hover {
  transform: translateY(-10px);
}

.about-icon {
  font-size: 2em;
  color: #ef4444;
  margin-bottom: 0.5em;
}
@media (max-width: 1024px) {
  /*About section*/
  .about-section h2 {
    font-size: 2rem;
    line-height: normal;
  }

  .about-section p {
    font-size: 1rem;
  }

  .about-content,
  .guides-content {
    gap: 1.5rem;
  }
  .about-item p {
    text-align: center;
  }
}

@media (max-width: 768px) {
  /*AboutUs Page*/
  .about-flexbox {
    flex-direction: column;
  }
  .about-images {
    box-shadow: none;
  }
  .about-images img {
    max-height: 290px;
  }
  /*About Section */
  .about-section {
    padding: 1.5rem;
    text-align: center;
  }

  .about-section h2 {
    font-size: 1.8rem;
  }

  .about-item,
  .guide-item {
    flex: 1 1 100%;
  }

  .about-item h3,
  .guide-item h3 {
    font-size: 1.2rem;
  }

  .about-section p {
    font-size: 0.9rem;
    text-align: left;
  }
}

@media (max-width: 480px) {
  /*AboutUs Page*/
  .about-flexbox {
    flex-direction: column;
  }
  .about-images img {
    max-height: 200px;
  }
  .car-heading {
    font-size: 1.3rem;
  }
  /*About Section*/
  .about-section {
    margin-top: -10px;
  }
  .about-section h2 {
    font-size: 1.9rem;
  }

  .about-section .paragraph {
    font-size: 0.9rem;
    text-align: left;
  }
  .about-section p {
    font-size: 0.9rem;
  }

  .about-icon,
  .guide-icon {
    font-size: 1.8rem;
  }

  .about-item,
  .guide-item {
    padding: 1rem;
  }
  .about-item p {
    text-align: center;
  }
}
