.booking-form {
  padding: 20px;
  margin-bottom: 20px;
  margin-top: 5.7em;
  background: linear-gradient(135deg, #272727 20%, #3a3a3a 50%, #505050 100%);
  border: 1px solid #e0e0e0;
  border-radius: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.booking-form h2 {
  color: #f87171;
  font-size: 2em;
  margin-bottom: 10px;
  font-weight: bold;
}
.booking-form label {
  display: block;
  margin-bottom: 5px;
  color: #f87171;
  font-weight: 500;
  text-align: left;
}

.booking-form select,
.booking-form input {
  width: 100%;
  padding: 10px;
  height: 40px;
  margin-bottom: 15px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #e3e8f4;
  color: #272727;
  outline: none;
  transition: all 0.3s ease;
}
input::placeholder {
  color: rgb(95, 91, 91);
}
input .no-of-people {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.booking-form button {
  background: linear-gradient(45deg, #f87171, #f43f5e);
  color: white;
  padding: 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  transition: background-color 0.3s, transform 0.3s;
  display: block;
  margin-top: 5px;
}

.booking-form button:hover {
  background: linear-gradient(45deg, #f43f5e, #f87171);
}

.total-price {
  color: #f87171;
  font-weight: 500;
}
@media (max-width: 768px) {
  .booking-form {
    margin-top: -30px;
    padding: 25px;
  }
  .date-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
  }
}
