/* ClientReviews.css */
.client-reviews-section {
  background-color: #cecece;
  padding: 2rem;
  padding-bottom: 4rem;
  text-align: center;
}

.client-reviews-section h2 {
  font-size: 2rem;
  color: #2c3e50;
  margin-bottom: 1.5rem;
}

.review-card {
  background: #fff;
  padding: 2rem;
  margin: 0 auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  position: relative;
}

.star-icon {
  color: #ffb800;
  margin-right: 4px;
}

.review-text {
  font-size: 1.2rem;
  color: #555;
  margin-top: 1rem;
}

.reviewer-name {
  font-size: 1rem;
  font-weight: bold;
  color: #333;
}
.reviewer-info {
  display: flex;
  align-items: center; /* Center the items vertically */
  margin-top: 10px; /* Add some margin if needed */
}

.profile-photo {
  width: 60px; /* Set the width of the profile photo */
  height: 60px; /* Set the height of the profile photo */
  border-radius: 50%; /* Make the photo circular */
  margin-right: 10px; /* Space between photo and name */
}
.custom-arrow {
  font-weight: bold;
  font-size: 20px; /* Size of the arrows */
  color: white; /* Color of the arrows */
  cursor: pointer;
  position: absolute; /* Positioning the arrows */
  top: 50%; /* Centering the arrows vertically */
  transform: translateY(-50%); /* Adjust vertical alignment */
  z-index: 1; /* Ensures arrows are on top */
  background-color: #f87171;
  border-radius: 50%;
  width: 30px;
}

.prev-arrow {
  left: 250px; /* Position for the left arrow */
}

.next-arrow {
  right: 250px; /* Position for the right arrow */
}

/* Optional: Add hover effects */
.custom-arrow:hover {
  color: orangered; /* Change color on hover */
  background-color: white;
}

/* Responsive styling */
@media (max-width: 768px) {
  .client-reviews-section h2 {
    font-size: 1.6rem;
  }

  .review-text {
    font-size: 1rem;
  }

  .review-card {
    padding: 1.5rem;
  }
  .custom-arrow {
    opacity: 0;
  }
}
